beautifulsoup4==4.9.1
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
getch==1.0
idna==2.9
joblib==0.15.1
locks==0.1.1
lxml==4.5.1
monotonic==1.5
nltk==3.5
regex==2020.6.7
requests==2.23.0
requests-file==1.5.1
six==1.15.0
soupsieve==2.0.1
tldextract==2.2.2
tqdm==4.46.1
urllib3==1.25.9
whois==0.9.7
